#main {
  margin-left: 315px;
  transition: margin-left 0.3s ease-in-out;
}
#main .top-bar {
  width: calc(100% - 300px);
  transition: width 0.3s ease-in-out;
  padding-left: 20px;
}
#main.wide-content {
  margin-left: 125px;
}
#main.wide-content .top-bar {
  width: calc(100% - 110px);
}
#footer {
  margin-left: 300px;
  transition: margin-left 0.3s ease-in-out;
}
#footer.wide-content {
  margin-left: 110px;
}
#wrapper {
  background-color: {{ setting_value('visiosoft.theme.defaultadmin::primary_color') }};
  backdrop-filter: blur(36.5px);
  position: fixed;
  width: 300px;
  height: 100%;
  overflow-y: visible;
  overflow-x: visible;
  font-family: 'Montserrat', sans-serif;
  transition: width 0.3s ease-in-out;
  z-index: 1040;
}
#wrapper .linear-background {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(170.52deg, rgba(0, 0, 0, 0) -17.64%, rgba(0, 0, 0, 0.3) 122.14%);
}
#wrapper .logo-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  transition: width 0.3s ease-in-out;
}
#wrapper.toggled-2 .logo-bar {
  width: 110px;
}
#wrapper .logo-bar .logo {
  max-width: 60%;
}
#wrapper .logo-bar .logo img,
#wrapper .logo-bar .logo svg {
  width: 100%;
}
#wrapper .logo-bar #menu-toggle-2 {
  position: absolute;
  right: 0;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: {{ setting_value('visiosoft.theme.defaultadmin::primary_color') }};
  backdrop-filter: blur(68.49px);
  border-radius: 18.264px;
  transform: translateX(50%);
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1);
}
#wrapper .sidebar-wrapper {
  position: absolute;
  top: 70px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#wrapper .sidebar-wrapper #search {
  background-color: rgba(220, 220, 220, .3);
  position: relative;
  padding-top: 0;
  display: flex;
  border-radius: 8px;
  border: 1px solid rgba(220, 220, 220, 0.3);
  margin: 2em 0;
}
#wrapper .sidebar-wrapper #search .search-bar {
  flex: 1;
  padding: 17px;
  color: {{ setting_value('visiosoft.theme.defaultadmin::menu_link_color') }} !important;
}
#wrapper .sidebar-wrapper #search .search-bar::placeholder {
  color: {{ setting_value('visiosoft.theme.defaultadmin::menu_link_color') }} !important;
}
#wrapper .sidebar-wrapper #search .search-bar:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: {{ setting_value('visiosoft.theme.defaultadmin::menu_link_color') }} !important;
}
#wrapper .sidebar-wrapper #search .search-bar::-ms-input-placeholder {
  /* Microsoft Edge */
  color: {{ setting_value('visiosoft.theme.defaultadmin::menu_link_color') }} !important;
}
#wrapper .sidebar-wrapper #search button {
  position: absolute;
  right: 1em;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 0;
  background-color: transparent;
}
#wrapper .sidebar-wrapper #search .results {
  margin-left: 0;
  min-width: 14rem;
  border-radius: 8px;
  background-color: {{ setting_value('visiosoft.theme.defaultadmin::block_background_color') }};
  border: 1px solid {{ setting_value('visiosoft.theme.defaultadmin::block_background_color') }};
}
#wrapper .sidebar-wrapper .sidebar-nav {
  width: 100%;
  padding: 0 16px;
}
#wrapper .sidebar-wrapper .sidebar-nav .sidebar-group {
  display: flex;
  flex-direction: column;
  list-style: none;
}
#wrapper .sidebar-wrapper .sidebar-nav .sidebar-group.active > a {
  background-color: {{ setting_value('visiosoft.theme.defaultadmin::links_hover_active_color') }};
  border-radius: 8px;
}
#wrapper .sidebar-wrapper .sidebar-nav .sidebar-group-link {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  padding: 15px 7px;
  cursor: pointer;
}
#wrapper .sidebar-wrapper .sidebar-nav .sidebar-group-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}
#wrapper .sidebar-wrapper .sidebar-nav .sidebar-group-link .title, #wrapper .sidebar-wrapper .sidebar-nav .sidebar-group-link i {
  font-size: 16px;
  color: {{ setting_value('visiosoft.theme.defaultadmin::menu_link_color') }};
  font-weight: 500;
}
#wrapper .sidebar-wrapper .sidebar-nav .sidebar-group-link svg {
  margin-right: 5px;
}
#wrapper .sidebar-wrapper .sidebar-nav .sidebar-group-link svg path,
#wrapper .sidebar-wrapper .sidebar-nav .sidebar-group-link svg rect {
  fill: {{ setting_value('visiosoft.theme.defaultadmin::menu_icon_color') }};
}
#wrapper #menu-toggle-2 i {
  color: {{ setting_value('visiosoft.theme.defaultadmin::menu_icon_color') }};
}
#wrapper .sidebar-wrapper .sidebar-nav .sidebar-group.active {
  background-color: transparent !important;
}
#wrapper .sidebar-wrapper .sidebar-nav .sidebar-group .group-sublist {
  position: relative;
}
#wrapper .sidebar-wrapper .sidebar-nav .sidebar-group .group-sublist a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 15px 7px 7px;
  margin-top: 7px;
  border-radius: 8px;
  font-weight: 400;
  font-size: 16px;
  color: {{ setting_value('visiosoft.theme.defaultadmin::menu_link_color') }} !important;
  cursor: pointer;
}
#wrapper .sidebar-wrapper .sidebar-nav .sidebar-group .group-sublist .sidebar-items .nav-item::before {
  content: "";
  position: absolute;
  border-left: 1px solid #295a34;
  border-bottom: 1px solid #295a34;
  width: 1rem;
  height: 1.3rem;
  border-bottom-left-radius: 8px;
  left: 20px;
}
#wrapper .sidebar-wrapper .sidebar-nav .sidebar-group .group-sublist .sidebar-items .nav-item.active > a {
  background-color: {{ setting_value('visiosoft.theme.defaultadmin::links_hover_active_color') }};
  border-radius: 8px;
}
#wrapper .sidebar-wrapper .sidebar-nav .sidebar-group .group-sublist .sidebar-items::before {
  content: "";
  border-left: 1px solid #295a34;
  position: absolute;
  height: calc(100% - 30px);
  left: 20px;
}
#wrapper .sidebar-wrapper .sidebar-nav .sidebar-group .group-sublist .sidebar-items .sidebar-sublist {
  position: relative;
}
#wrapper .sidebar-wrapper .sidebar-nav .sidebar-group .group-sublist .sidebar-items .sidebar-sublist ul::before {
  content: "";
  position: absolute;
  border-left: 1px solid rgba(255, 255, 255, .5);
  height: calc(100% - 30px);
  left: 0.5rem;
}
#wrapper .sidebar-wrapper .sidebar-nav .sidebar-group .group-sublist .sidebar-items .sidebar-sublist .sub-item a {
  color: {{ setting_value('visiosoft.theme.defaultadmin::menu_link_color') }};
  opacity: .56;
}

#wrapper .sidebar-wrapper .sidebar-nav .sidebar-group .group-sublist .sidebar-items .sidebar-sublist .sub-item.active > a {
  color: {{ setting_value('visiosoft.theme.defaultadmin::menu_link_color') }};
  opacity: 1;
  font-weight: 500;
}
#wrapper .sidebar-wrapper .sidebar-nav .sidebar-group .group-sublist .sidebar-items .sidebar-sublist .sub-item::before {
  content: "";
  position: absolute;
  border-left: 1px solid rgba(255, 255, 255, .5);
  border-bottom: 1px solid rgba(255, 255, 255, .5);
  width: 0.6rem;
  height: 1.3rem;
  border-bottom-left-radius: 8px;
  left: 0.5rem;
}
#wrapper.toggled-2 {
  width: 110px;
}
#wrapper.toggled-2 .title, #wrapper.toggled-2 .group-sublist, #wrapper.toggled-2 #search, #wrapper.toggled-2 .sidebar-nav i {
  display: none;
}
#wrapper.toggled-2 .sidebar-wrapper .sidebar-nav {
  padding: 0;
}
#wrapper.toggled-2 .sidebar-wrapper .sidebar-nav .sidebar-group > a {
  justify-content: center;
}
#wrapper.toggled-2 .sidebar-wrapper .sidebar-nav .sidebar-group.active > a {
  border-radius: 0;
}
.card.card-flex .card-block, li.active {
  background: transparent !important;
  color: transparent !important;
}