<!doctype html>

<html>

<head>
    {% include "theme::partials/metadata" %}
</head>

<body class="login-page">
{% block content %}{% endblock %}

{% include "theme::partials/assets" %}

</body>
</html>
